<!doctype html>
<html lang="en" ng-app="ShoppingListWithPurchaseStatus">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/index.css">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyController as toBuy'>
     <h2>To Buy:</h2>
     <ol>
       <li ng-repeat="item in toBuy.items">
         {{ item.displayText }} <button type="button" ng-click="toBuy.purchaseItem($index)" name="button">Buy</button>
       </li>
     </ol>
     <div ng-if="toBuy.message" class="emptyMessage">{{toBuy.message()}}</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='AlreadyBoughtController as bought'>
     <h2>Already Bought:</h2>
     <ol>
       <li ng-repeat="item in bought.items">{{ item.displayText }}</li>
     </ol>
     <div ng-if="bought.message" class="emptyMessage">{{bought.message()}}</div>
    </div>
  </div>
</div>

</body>
</html>
